<!--S 文章-->
<div id='j_post' class="post">
	<h1 id="<%- post.title %>" class="post_title">
		<%- link_to(post.path, post.title) %>
		<a href='https://github.com/Littly/haloDoc/blob/master/source/_posts/GettingStarted.md' target="_blank">Edit</a>
	</h1>
	<div class="post_content">
		<%- post.content %>
	</div>
</div>
<!--E 文章-->