<!--S 底部-->
<footer class="footer">
	<p>
		Driven by <a href='http://hexo.io' target="_blank">Hexo</a>.
		<br> Documentation licensed under <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>.
	</p>
</footer>
<!--E 底部-->